page-contact {
  .item-ios ion-thumbnail img {
    width: 13rem;
    height: 10rem;
  }
  h4{
    padding-left: 6px;
    text-align: left;
  }

  .more{
    margin-top: 16.5px;
    text-align: right;
    margin-right: 7px;
  }
}
