page-about {
  [col-4] {
    font-size: 2rem;
  }
  .note-ios {
    color: #333;
  }
  .toolbar-ios .segment-button{
    max-width: 100%;
    font-size: 1.5rem;
  }

  .segment-md .segment-button,.segment-ios .segment-button{
    color: #333;
    border-color: transparent;
  }
  .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated{
    border-bottom: 1px solid #32db64;
    color: #32db64;
    background-color:transparent ;
  }

  .input-wrapper{
    padding-left: 1rem;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li{
    float: left;
  }
  .button-outline-ios,.button-outline-md{
    border: 0;

  }
  .button-outline-ios.activated{
    background: #ccc;
    color: #333;
  }
  .button-ios,.button-md{
    height: 2rem;
    width: 4rem;
  }
  [col-6] {
    font-size: 1.5rem;
  }
}
