<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4 ></ion-col>
        <ion-col col-4 style="text-align: center"><ion-note>家常菜谱</ion-note></ion-col>
        <ion-col col-4 style="text-align: right" (click)="toSearch()">
          <ion-icon name="search"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
  
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="cookbookModel">
      <ion-segment-button value="jia" >
        家常菜谱
      </ion-segment-button>
      <ion-segment-button value="zhong">
        中华美食
      </ion-segment-button>
      <ion-segment-button value="wai">
        外国料理
      </ion-segment-button>
      <ion-segment-button value="hong">
        烘焙
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content  (swipe)="swipeEvent($event)">
  <div [ngSwitch]="cookbookModel">
    <ion-list *ngSwitchCase="'jia'">
      <ion-item no-lines >
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button color="dark" [outline]="isOutline">最新</button>
              <button ion-button color="dark" outline>最热</button>
            </ion-col>
            <ion-col col-6 (click)="toList()" style="text-align: right">
              <button ion-button color="dark" outline >更多<ion-icon name="ios-arrow-forward"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-grid>
        <ion-row>
            <ul col-12>
              <li col-6 *ngFor="let item of items|jiachang" (click)="itemSelected(item?.ckname)">
                <ion-card>
                  <img src="../../assets/imgs/cookbook/{{item?.ckimg}}"/>
                  <ion-card-content>
                    {{item?.ckname}}
                  </ion-card-content>
                </ion-card>
              </li>
            </ul>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'zhong'">
      <ion-item no-lines >
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button color="dark" [outline]="isOutline">最新</button>
              <button ion-button color="dark" outline>最热</button>
            </ion-col>
            <ion-col col-6 (click)="toList()" style="text-align: right">
              <button ion-button color="dark" outline >更多<ion-icon name="ios-arrow-forward"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-grid>
        <ion-row>
          <ul col-12>
            <li col-6 *ngFor="let item of items|zhonghua" (click)="itemSelected(item?.ckname)">
              <ion-card>
                <img src="../../assets/imgs/cookbook/{{item?.ckimg}}"/>
                <ion-card-content>
                  {{item?.ckname}}
                </ion-card-content>
              </ion-card>
            </li>
          </ul>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'wai'">
      <ion-item no-lines >
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button color="dark" [outline]="isOutline">最新</button>
              <button ion-button color="dark" outline>最热</button>
            </ion-col>
            <ion-col col-6 (click)="toList()" style="text-align: right">
              <button ion-button color="dark" outline >更多<ion-icon name="ios-arrow-forward"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-grid>
        <ion-row>
          <ul col-12>
            <li col-6 *ngFor="let item of items|waiguo" (click)="itemSelected(item?.ckname)">
              <ion-card>
                <img src="../../assets/imgs/cookbook/{{item?.ckimg}}"/>
                <ion-card-content>
                  {{item?.ckname}}
                </ion-card-content>
              </ion-card>
            </li>
          </ul>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'hong'">
      <ion-item no-lines >
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button color="dark" [outline]="isOutline">最新</button>
              <button ion-button color="dark" outline>最热</button>
            </ion-col>
            <ion-col col-6 (click)="toList()" style="text-align: right">
              <button ion-button color="dark" outline >更多<ion-icon name="ios-arrow-forward"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-grid>
        <ion-row>
          <ul col-12>
            <li col-6 *ngFor="let item of items|hongpei" (click)="itemSelected(item?.ckname)">
              <ion-card>
                <img src="../../assets/imgs/cookbook/{{item?.ckimg}}"/>
                <ion-card-content>
                  {{item?.ckname}}
                </ion-card-content>
              </ion-card>
            </li>
          </ul>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
