<div padding style="width: 300px;height: 330px">
  <ion-item *ngIf="_shou">
    <div style="text-align: center">
      <br>
      <br>
      <p>赶紧去收藏吧</p>
      <br>
      <br>
    </div>
  </ion-item>
  <ion-item *ngIf="!_shou">
    <ion-item *ngIf="_shoucang">
      <div style="text-align: center">
        <br>
        <br>
        <p>赶紧去收藏吧</p>
        <br>
        <br>
      </div>
    </ion-item>

    <ion-list *ngIf="!_shoucang">
      <ion-item-sliding *ngFor="let item of items">
        <ion-item (click)="itemSelected(item)">
          <div item-start>
            <ion-label>{{item?.pingluntitle}}</ion-label>
            <ion-note>{{item?.pingluncontent}}</ion-note>
          </div>
        </ion-item>

      </ion-item-sliding>
    </ion-list>

  </ion-item>

</div>
