<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-4>
        <ion-icon name="ios-arrow-back" (click)="toback()" style="font-size: 30px !important;"></ion-icon>
      </ion-col>
      <ion-col col-4 style="text-align:center ;font-size: 20px !important; ">
        <ion-note style="color: #000">关注</ion-note>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="_guanzhu">
    <ion-item>
      <div  style="text-align: center">
        <br>
        <br>
        <p >你好没有关注噢！！！</p>
        <br>
        <br>
      </div>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!_guanzhu"  no-lines>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/0.jpg">
        </ion-avatar>
        <div item-start>
          <ion-label>{{item?.biaoti}}</ion-label>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
