<!--
  Generated template for the CookdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-1 (click)="back()">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-col>
      <ion-col col-11 style="text-align: center"><ion-note>{{cookDetail?.ckname}}</ion-note></ion-col>
    </ion-row>
  </ion-grid>

</ion-header>


<ion-content >
  <div class="c_c1">
    <img class="img" src="../../assets/imgs/cook_detail/{{cookDetail?.ckdetailimg}}" alt="">
  </div>
  <div class="c_c2">
    <h1>{{cookDetail?.ckname}}</h1>
    <span style="display:inline-block;padding-bottom: 10px;">2639人收藏</span>
  </div>
  <ion-list style="margin: 0">
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/111.jpg">
      </ion-avatar>
      <h2>{{cookDetail?.ckauthor}}</h2>
      <span class="gzbtn" (click)="follow(cookDetail?.cktelephone)" >加关注</span>
    </ion-item>
  </ion-list>
  <!--工艺，口味-->
  <div class="c_c5">
    <ul class="argsul">
      <li class="args1" alt="工艺">
        <ion-icon name="ios-flame-outline"></ion-icon> {{cookDetail?.ckgongyi}}</li>
      <li class="args2" alt="口味" >
        <ion-icon name="ios-cafe-outline"></ion-icon>{{cookDetail?.ckkouwei}}</li>
    </ul>
  </div>
  <!--主料辅料-->
  <div class="sc_miniw">

    <ion-item-group>
        <ion-item-divider color="light">主料</ion-item-divider>
        <ion-item>{{cookDetail?.zhuliaoa}}&nbsp;&nbsp;&nbsp;&nbsp;{{cookDetail?.zhuliaob}}&nbsp;&nbsp;&nbsp;&nbsp;{{cookDetail?.zhuliaoc}}</ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">辅料</ion-item-divider>
      <ion-item>{{cookDetail?.fuliaoa}}&nbsp;&nbsp;&nbsp;&nbsp;{{cookDetail?.fuliaob}}</ion-item>
    </ion-item-group>
  </div>
  <!--步骤-->
  <div >
    <strong class="step_title">做法</strong>
    <ion-card>
         <p class="buzoudetail">1.{{cookDetail?.ckbuzhoua}}</p>
      <ion-card-content>
        <img src="../../assets/imgs/cook_detail/{{cookDetail?.ckbzimga}}" alt="">

      </ion-card-content>
    </ion-card>
    <ion-card>
        <p class="buzoudetail">2.{{cookDetail?.ckbuzhoub}}</p>
      <ion-card-content>
        <img src="../../assets/imgs/cook_detail/{{cookDetail?.ckbzimgb}}" alt="">
      </ion-card-content>
    </ion-card>
    <ion-card>
        <p class="buzoudetail">3.{{cookDetail?.ckbuzhouc}}</p>
      <ion-card-content>
        <img src="../../assets/imgs/cook_detail/{{cookDetail?.ckbzimgc}}" alt="">

      </ion-card-content>
    </ion-card>
    <ion-card>
        <p class="buzoudetail">4.{{cookDetail?.ckbuzhoud}}</p>
      <ion-card-content>
        <img src="../../assets/imgs/cook_detail/{{cookDetail?.ckbzimgd}}" alt="">

      </ion-card-content>
    </ion-card>
    <ion-card>
        <p class="buzoudetail">5.{{cookDetail?.ckbuzhoue}}</p>
      <ion-card-content>
        <img src="../../assets/imgs/cook_detail/{{cookDetail?.ckbzimge}}" alt="">

      </ion-card-content>
    </ion-card>
  </div>
  <!--烹饪技巧-->
  <ion-card>
    <ion-card-header>
      烹饪技巧
    </ion-card-header>
    <ion-card-content>
      {{cookDetail?.ckstory}}
    </ion-card-content>
  </ion-card>
  <!--评论-->

  <ion-card>
    <ion-card-content>
      <span style="display: inline-block;width: 100%">评论</span>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="showComment">
  <ion-card-content>
    <ion-item-group *ngFor="let comment of _comment">
      <ion-item>
        <ion-avatar item-start>
          <img src="./../../assets/home/index1.jpg">
        </ion-avatar>
        <ion-row>
          <ion-col col-10><span style="display: inline-block; width:100%; font-size: 14px; color: #8e9093;">{{comment?.pinglunid}}</span></ion-col>
          <!--<ion-col col-2><span style="display: inline-block; font-size: 15px; width: 100%; color: rgb(253,111,99);">回复</span></ion-col>-->
        </ion-row>
      </ion-item>
      <ion-row>
        <ion-col col-10><span style="display: inline-block; width:100%; font-size: 16px; color: #8e9093;padding: 0px 20px 0px 35px">{{comment?.pingluncontent}}</span></ion-col>
      </ion-row>
    </ion-item-group>
  </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>

      <ion-col col-6 class="footCss">
        <ion-icon name="ios-star-outline" *ngIf="collectred"  (click)="addCollect()"></ion-icon>
        <ion-icon name="ios-star" *ngIf="!collectred" color="danger"  (click)="addCollect()"></ion-icon>
      </ion-col>
      <ion-col col-6 class="footCss" (click)="toComment(cookDetail?.ckname)">
        <ion-icon name="ios-text-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
