page-homehotdish {
  //热门菜谱卡片默认样式================================================================
  .hotmenu {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 34%;
    font-size: 2.0em;
    width: 100%;
    background-color: rgba(95,95,95,0.5);
    padding-top: 6px;
    padding-bottom: 4px;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 16px;
    position: absolute;
    top:67%;
    background-color: rgba(95,95,95,0.5);
    padding-bottom: 2px;
    width: 100%;
    color: #fff;
  }

}
