
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-icon name="ios-arrow-back" (click)="toback()" style="font-size: 30px !important;"></ion-icon>
      </ion-col>
      <ion-col col-4 style="text-align:center ;font-size: 20px !important; ">
        <ion-note style="color: #000">创作</ion-note>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12 style="text-align:center; ">
      <h5 >欢迎发布新菜谱</h5>
    </ion-col>
  </ion-row>
  <br><br>
  <!--<div class="col-md-12 col-lg-12">-->
    <!--<div class="row">-->
      <!--<div class="coll">-->
        <br>
          <form class="form-horizontal" #uprecipesForm="ngForm" id="upload_form">
            <!--<div class="coll">-->
              <!--<div class="form-group">-->
                <!--<label for="title" class="col-sm-2 control-label" style="font-size: 1.2em">标题</label>-->
                <p style="font-size: 1.2em">标题</p>
                <!--<div class="col-sm-4">-->
            <ion-list>
              <ion-item>
            <ion-input type="email"  name="biaoti" class="form-control" id="title" maxlength="10" placeholder="作品,10个字之内"></ion-input>
              </ion-item>
            </ion-list>
                <!--</div>-->
                <!--<label  class="col-sm-2 control-label" style="font-size: 1.2em">菜系</label>-->
                <p style="font-size: 1.2em">菜系</p>
                <!--<div class="col-sm-2">-->
            <ion-list>
              <ion-item>
                  <select class="form-control" #nick="ngModel" [(ngModel)]="caixi" id="caixi" name="caixi" >
                    <option value="0">家常</option>
                    <option value="1">中华</option>
                    <option value="2">外国</option>
                    <option value="3">烘焙</option>
                  </select>
              </ion-item>
            </ion-list>
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <p style="font-size: 1.2em">成品图</p>
                <!--<div class="col-sm-2">-->
            <ion-list>
              <ion-item>
                  <input type="file" class="form-control" id="upload_file0" accept="image/*" name="user_icon0">
                  <div id="preview0">点击上传</div>
              </ion-item>
            </ion-list>
                <!--</div>-->
                <!--<div class="col-sm-4 col-sm-push-2">-->
            <ion-list>
              <ion-item>
                  <textarea class="form-control"  name="gushi" id="gushi" rows="12" placeholder="说说这道菜背后的故事吧~~"></textarea>
              </ion-item>
            </ion-list>
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <ion-list>
              <ion-item>
            <p>开始写步骤了！能否简单易学就看你怎么写了，加油！</p>
              </ion-item>
            </ion-list>

            <!--<div class="coll">-->
            <ion-list>
              <ion-item>
              <div class="form-group">
                <div class="form-group" *ngFor="let wo of buz; let i =index">
                  <p>步骤{{i+1}}:</p>
                  <!--<div class="col-sm-2">-->
                    <input type="file" class="form-control" id="upload_file{{i+1}}" accept="image/*" name="user_icon{{i+1}}">
                    <div id="preview{{i+1}}">点击上传</div>
                  <!--</div>-->
                  <!--<div class="col-sm-6" style="padding-left: 70px">-->
                  <ion-list>
                    <ion-item>
                    <textarea class="form-control" rows="7" id="buzou{{i+1}}" name="buzou{{i+1}}"  placeholder="请描述具体步骤（70字之内）" rows="5"  maxlength="50" onchange="this.value=this.value.substring(0, 70)" onkeydown="this.value=this.value.substring(0, 70)" onkeyup="this.value=this.value.substring(0, 70)" ></textarea>
                    </ion-item>
                  </ion-list>
                  <!--</div>-->
                </div>
                <!--<div class="col-sm-4 col-sm-offset-2">-->
                  <input type="button" class="add" (click)="toadd()" value="增加一步">&nbsp;&nbsp;<span *ngIf="mo">最多上传六步！！！</span>
                </div>

                <!--<div class="col-sm-4 col-sm-offset-2">-->
                  <input type="button" class="del" (click)="todel()" value="减少一步">&nbsp;&nbsp;<span *ngIf="le">再点就没有步骤啦！！！</span>
                <!--</div>-->
              </ion-item>
            </ion-list>
              <!--</div>-->
            <!--</div>-->
            <ion-list>
              <ion-item>
            <div class="form-group">
              <!--<div class="col-sm-offset-5 col-sm-6">-->
                <input type="button" class="btn_sub" (click)="touprecipes(uprecipesForm)" value="确认提交"/>
              <!--</div>-->
            </div>
              </ion-item>
            </ion-list>
          </form>
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


</ion-content>
