<div padding style="height: 330px">
  <ion-item *ngIf="_cai">
    <div  style="text-align: center">
      <br>
      <br>
      <p >据说创作菜谱的人工资都涨了79%</p>
      <br>
      <br>
      <button class="_button" (click)="toUp()">开始创作菜谱</button>
      <br>
    </div>
  </ion-item>

  <div *ngIf="!_cai">
    <ion-list *ngIf="_caipu">
      <ion-item>
        <div  style="text-align: center">
          <br>
          <br>
          <p >据说创作菜谱的人工资都涨了79%</p>
          <br>
          <br>
          <button class="_button" (click)="toUp()">开始创作菜谱</button>
          <br>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="!_caipu"  no-lines>
      <ion-item-sliding *ngFor="let item of items">
        <ion-item (click)="itemSelected(item)">
          <ion-avatar item-start>
            <img src="../../assets/imgs/0.jpg">
          </ion-avatar>
          <div item-start>
            <ion-label>{{item?.biaoti}}</ion-label>
          </div>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </div>
</div>
