page-homejia {
  #dl{
    width:50%;
    height:70px;
    line-height: 70px;
    font-size: 35px;
    background-color:rgb(245,168,126);
    border:0px solid rgb(245,168,126);
    border-radius: 5px;
    text-align:center;
    color:white;
    margin-left: 25%;
    margin-top: 130px;
  }
  #zc{
    width:50%;
    height:70px;
    line-height: 70px;
    font-size: 35px;
    background-color:rgb(110,210,160);
    border: 0px solid rgb(110,210,160);
    border-radius: 5px;
    margin-top: 15px;
    text-align:center;
    color:white;
    margin-left: 25%;
  }
}
