<!--
  Generated template for the CooklistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-4 (click)="back()">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-col>
      <ion-col col-4 style="text-align: center"><ion-note>{{_title}}</ion-note></ion-col>
      <ion-col col-4 style="text-align: right" (click)="toSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ul *ngIf="Showjia">
      <li *ngFor="let item of list01">
        <button ion-button color="dark" outline (click)="groupBy(item.list01)">{{item.list01}}</button>
      </li>
    </ul>
    <ul *ngIf="Showzhong">
      <li *ngFor="let item of list02">
        <button ion-button color="dark" outline (click)="groupBy(item.list02)">{{item.list02}}</button>
      </li>
    </ul>
    <ul *ngIf="Showwai">
      <li *ngFor="let item of list03">
        <button ion-button color="dark" outline (click)="groupBy(item.list03)">{{item.list03}}</button>
      </li>
    </ul>
    <ul *ngIf="Showhong">
      <li *ngFor="let item of list04">
        <button ion-button color="dark" outline (click)="groupBy(item.list04)">{{item.list04}}</button>
      </li>
    </ul>
  </ion-list>

</ion-header>


<ion-content >
  <ion-list  no-lines>
    <ion-item *ngFor="let cook of _result|searchCooks:_text" (click)="itemSelected(cook?.ckname)">
      <ion-thumbnail item-start >
        <img src="../../assets/imgs/cookbook/{{cook?.ckimg}}">
      </ion-thumbnail>
      <h2>{{cook?.ckname}}</h2>
      <p>大菠萝</p>
      <p>工艺:{{cook?.ckgongyi}}
        口味:{{cook?.ckkouwei}}</p>
    </ion-item>
  </ion-list>
</ion-content>
