page-cooklist {
  [col-4] {
    font-size: 2rem;
  }
  .note-ios {
    color: #333;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    padding-left: 20px;
    float: left;
  }
  .segment-md .segment-button,.segment-ios .segment-button{
    color: #333;
    font-size: 1.6rem;
    border-color: transparent;
  }
  .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated{
    background: #ccc;
    color: #333;
  }
  .list-ios {
    margin: 0px 0 32px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  .item-md ion-thumbnail,.item-ios ion-thumbnail{
    //padding-top: 1.5rem;
  }
  .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
    width: 10rem;
    height: 7rem;
  }

}
