page-cooklist {
  [col-4] {
    font-size: 2rem;
  }
  .note-ios,.note-md {
    color: #333;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    padding-left: 20px;
    float: left;
  }
  .button-md,.button-ios{
    border-radius: 1.5rem;
  }
  .button-ios:hover{
    background-color: #2ec95c;
    color: #fff;
  }
  .button-outline-md-dark:hover:not(.disable-hover) {
    background-color: #2ec95c;
    color: #fff;
  }
  .list-ios {
    margin: 0px 0 32px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  .item-md ion-thumbnail,.item-ios ion-thumbnail{
    //padding-top: 1.5rem;
  }
  .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
    width: 10rem;
    height: 7rem;
  }

}
