<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-4 >
        <ion-icon name="ios-settings-outline" (click)="toSetting()" style="font-size: 25px !important;"></ion-icon>
      </ion-col>
      <ion-col col-4 style="text-align:center ;font-size: 20px !important; ">
        <ion-note style="color: #000">我的</ion-note>
      </ion-col>
      <ion-col col-4  style="text-align: right ; padding-right: 3px">
        <ion-icon name="ios-add-outline" (click)="toUp()" style="font-size: 33px !important;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-icon name="ios-settings-outline" (click)="toSetting()" style="font-size: 25px !important;"></ion-icon>-->
    <!--<ion-title>-->
      <!--我的-->
    <!--</ion-title>-->
    <!--<ion-icon name="ios-add-outline" (click)="toUp()" style="font-size: 27px !important; padding-left: 330px"></ion-icon>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content padding>
    <ion-card style="height:200px !important" *ngIf="!_iAmLogin">
      <ion-item >
        <ion-avatar item-start>
          <img src="assets/imgs/2.jpg" style="width: 80px !important; height: 80px !important;">
        </ion-avatar>
        <h2 style="margin-top: 1px" (click)="toLogin()">登录/注册</h2>
        <p>据说登录的人做饭更好吃</p>
      </ion-item>
    </ion-card>

  <br>

    <ion-card style="height:200px !important" *ngIf="_iAmLogin">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/3.jpg" style="width: 80px !important; height: 80px !important;">
        </ion-avatar>
        <p class="_p">{{nickname}}</p>
        <p>&nbsp;&nbsp;{{label}}</p>
      </ion-item>
      <br>
      <hr>
      <ion-row>
        <ion-col col-4 style="text-align: center">
          <div class="_fon" (click)="toGuanzhu()">关注</div>
          <span>{{guanzhu}}</span>
        </ion-col>
        <ion-col col-4 style="text-align: center">
          <div class="_fon" (click)="toFensi()">粉丝</div>
          <span>{{fensi}}</span>
        </ion-col>
        <ion-col col-4 style="text-align: center">
          <ion-icon name="ios-leaf-outline"></ion-icon>
          <div class="_fon" (click)="toMydata()">我的资料</div>
        </ion-col>
      </ion-row>
    </ion-card>

  <ion-row>
    <ion-segment [(ngModel)]="kinds" color="dark">
      <ion-segment-button value="caipu">
        <span class="_span"  >菜谱</span>
      </ion-segment-button>
      <ion-segment-button value="pinglun">
        <span class="_span"  >评论</span>
      </ion-segment-button>
      <ion-segment-button value="shoucang">
        <span class="_span">收藏</span>
      </ion-segment-button>
    </ion-segment>
  </ion-row>

    <div padding (swipe)="swipeEvent($event)">
      <div [ngSwitch]="kinds">

        <ion-list *ngSwitchCase="'caipu'">
          <page-caipu></page-caipu>
        </ion-list>


        <ion-list *ngSwitchCase="'pinglun'">
          <page-pinglun></page-pinglun>
         </ion-list>

        <ion-list *ngSwitchCase="'shoucang'">
         <page-shoucang></page-shoucang>
        </ion-list>




      </div>
    </div>
</ion-content>
