page-me {
  ._p{
    font-size: 20px;
    color:#000;
  }
  ._bor{
      width: 20px;
      height: 20px;
      border: 1px red solid;
    }
  ._fon{
    font-size: 16px;
  }
  ._span{
    font-size: 16px;
  }
  ._button{
    width: 120px;
    height: 40px;
    background: #fff;
    border:1px solid #000;
  }
  ._kind{
    width: 100%;
    list-style: none;
    //border: 1px red solid;
  }
   li{
     float: left;
     font-size: 17px;
     text-align: center;
     border: 1px solid black;
     padding: 3px 5px 3px 5px;
  }
  #li1{
    width: 33.3%;
    margin-left: -7%;
    color:white;
    background: black;
  }
  #li2{
    width: 33.3%;
  }
  #li3{
    width: 33.3%;
  }
}
