page-seachlist {
  [col-2]{
    font-size: 2.7rem;
  }
  #searchtext{
    width: 100%;
    height: 35px;
    background-color: gainsboro;
    border-radius: 5px;
    border: 0px solid gainsboro;
    text-align: center;
  }
  .search{
    height: 32px;
    background: #ff4c39;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    display: block;
    line-height: 32px;
    text-align: center;
    position: absolute;
    width: 55px;
  }



  .item-md ion-thumbnail,.item-ios ion-thumbnail{
    //padding-top: 1.5rem;
  }
  .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
    width: 10rem;
    height: 7rem;
  }
}
